/*
/* =====================================================================
/* Base styles
/* =====================================================================
*/

a, abbr, acronym, address, blockquote, body, caption, dd, dfn, div, dl, dt, em, fieldset,
figure, form, h1, h2, h3, h4, h5, h6, html, iframe, img, input, label, legend, li, ol, p, 
pre, q, select, small, span, strong, sub, sup, table, tbody, td, textarea, tfoot, th, thead,
tr, ul
{outline: 0; margin: 0; border: none; padding: 0; vertical-align: baseline; background: transparent; -webkit-text-size-adjust: 100%;}
hr {display: none;}
acronym, abbr {border-bottom: none;}
acronym[title], abbr[title] {cursor: help;}
a acronym:hover, a abbr:hover {cursor: pointer;}
li {list-style: none;}
dfn {font-style: normal; cursor: help;}
em, i {font-style: normal;}

/* HTML5 */
article, aside, dialog, figure, footer, header, hgroup, main, nav, section {display: block;}

mark {
	font-style: italic;
	font-weight: bold;
	color: rgb(0,0,0);
	background: #ff9;
	}

/* =Links
/* ------------------------------------------------------------------ */

a:link,
a:visited {
	color: #2e90a4;
	}
	
a:hover {
	color: #175865;
	}
	
a:focus {
	outline: 3px solid #fc0;
//	background: #fc0;
	}
	
a:active {
	color: #c11;
	outline: none;
	}

/* =General Styles
/* ------------------------------------------------------------------ */
	
html body #page .clear {@include clear;}

html body .hidden {@include hidden;}
html body .accessibility,
html body .visuallyhidden {@include visuallyhidden;}
html body .hiddencell {@include hiddencell;}
html body .invisible {@include invisible;}
html body .invisiblepartial {@include invisiblepartial;}

.wrapper {
	position: relative;
	}

code,pre{padding:0 3px 2px;font-family:Menlo,Monaco,Consolas,"Courier New",monospace;font-size:12px;color:#333333;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
code{padding:2px 4px;color:#d14;background-color:#f7f7f9;border:1px solid #e1e1e8;white-space:nowrap;}