#page {
  margin: 0 auto;
  width: 960px;
}

div.introduction {
  background: url(/graphics/spheres.png) repeat-x 26% 0;
  filter:alpha(opacity=100);

  &:before {
    background: #ff9726 url(/graphics/spheres.png) repeat-x 26% 0;
  }
}

div.introduction button {
  background: #2e3b48 url(/graphics/btn-gradient.gif) repeat-x;
  border-bottom: 3px solid #111;
}

div.introduction button:active {
  margin-bottom: 3px;
  border-bottom: none;
}

#banner h1 {
  float: left;
  margin-right: 1em;
  margin-left: 8.57143%;
}

@media (min-width: 70em) {
  /* line 62, ../scss/screen.scss */
  #banner h1 {
    margin-bottom: 0.83333em;
  }
}
/* line 70, ../scss/screen.scss */
#banner h1 a {
  display: block;
  margin-top: 32px;
}
/* line 76, ../scss/screen.scss */
#banner nav.menu li {
  float: left;
}
/* line 83, ../scss/screen.scss */
#banner nav.menu li:last-of-type a {
  border-bottom: none;
}
/* line 89, ../scss/screen.scss */
#banner nav.menu a:link, #banner nav.menu a:visited {
  display: block;
  border-bottom: 1px dotted #999;
  padding: .5em;
  text-decoration: none;
  color: #63605d;
}
/* line 89, ../scss/screen.scss */
#banner nav.menu a:link, #banner nav.menu a:visited {
  margin-right: 9px;
  border-bottom: none;
  padding: 51px 11px 11px;
  font-size: .75em;
}
/* line 89, ../scss/screen.scss */
#banner nav.menu a:link, #banner nav.menu a:visited {
  font-size: 1em;
}
/* line 111, ../scss/screen.scss */
#banner nav.menu a:hover, #banner nav.menu a:focus, #banner nav.menu a:active, #banner nav.menu li.current a {
  color: #212121;
  background: #f1f0eb;
}

#definition, #sample {
  margin-left: 8.57143%;
  width: 82.85714%;
  float: right;
  margin-right: 0;
  margin-right: 8.57143%;
}

#articles, #case-study {
  margin-left: 8.57143%;
  width: 40%;
  float: left;
  margin-right: 2.85714%;
}

#implementation, #assistance {
  width: 40%;
  float: right;
  margin-right: 0;
  margin-right: 8.57143%;
}

#nav-level-sitemap {
  margin-left: 8.57143%;
  width: 31.42857%;
  float: left;
  margin-right: 2.85714%;
}

#nav-level-implementations {
  width: 31.42857%;
  float: left;
  margin-right: 2.85714%;
  margin-right: 8.57143%;
}

#nav-level-eclipse {
  margin-left: 8.57143%;
  width: 31.42857%;
  float: left;
  margin-right: 2.85714%;
  clear: left;
}

#nav-level-support {
  width: 31.42857%;
  float: left;
  margin-right: 2.85714%;
}

#footer div.credits {
  position: absolute;
  top: 0;
  right: 2.85714%;
  bottom: 0;
  width: 22.85714%;
}

#definition div.content-body img,
#definition div.content-body p,
#definition div.content-body ul {
  float: left;
  width: 50%;
}

#definition div.content-body p:first-child {width: 100%;}

/* line 207, ../scss/screen.scss */
main header:first-child h2,
main hgroup:first-child h3 {
  border-bottom: 3px solid #ff9726;
  padding-bottom: .25em;
}
/* line 211, ../scss/screen.scss */
main header:first-child h2:after,
main hgroup:first-child h3:after {
  margin-left: .25em;
  color: #dbd8cd;
  content: "/";
}